body {
    font-family: Public sans, sans-serif;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.paintings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.paintings .painting {
    position: relative;
    height: 431px;
}

.paintings .painting:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.04);
}

.paintings .painting .info{
    position: absolute;
    bottom: 40px;
    left: 20px;
    color:  #fff;
}

.paintings .painting .info img {
    height: 435px;
    width: 355px;
}

.paintings .painting .info.title {
    font-size: 30px;
    font-weight: 800;
}

.paintings .painting .info .artist {
    font-size: 17px;
    font-weight: 300;
}